<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
<link rel="stylesheet"
	href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">

<style type="text/css">
.layout {
	margin: 0px auto;
}

body{ text-align:center}
#divcss5{margin:0 auto;border:1px solid #000;width:300px;height:100px}
</style>

	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script type="text/javascript">

        function del(id) {
            $.ajax({
                url : "http://localhost:8080/admin/deleteone",
                data: {"id": id},
                async : true,
                type: "post",
                dataType: "json",

                success: function(data){

                    if(data.status==200){
                        window.location.reload();
					}

                },
                error: function(){
                    alert("删除失败");
                }



            });
        }

        function upd() {
            $.ajax({
                type : "put",
                data:"id=6&t_name=cun&major=计科",
                url : "http://localhost/student/updateone",
                async : true
            });
        }
	</script>


</head>
<body>

	<table class="table layout" style="width: 50%">
		<caption>
			<h3> 列表  </h3>
		</caption>
		<tr>
			<th>编号</th>
			<th>城市</th>
			<th>删除</th>
		</tr>
		<#list city as c>
		<tr>
			<td>${c.id}</td>
			<td>${c.name}</td>
			<td>	<!-- 删除 -->
				<button id="btn" onclick="del('${c.id}')">删除</button>
			</td>
		</tr>
		</#list>
	</table>



<div >

</br>
	</br>
	</br>
	</br>

	<!-- 增加 -->
	<form class="layout" action="http://localhost:8080/admin/addone" method="post" style="width: 50%">
		<caption>
			<h3> 增加  </h3>
		</caption>

		名称<input type="text" name="name" />
		<input type="submit" value="新增" />
	</form>

	</br>
	</br>
	</br>

	<!--&lt;!&ndash; 更新 &ndash;&gt;-->
	<!--<button id="btn2" onclick="upd()">update request</button>-->

	<!-- 更新 -->
	<form class="layout" action="http://localhost:8080/admin/update" method="post" style="width: 50%">

		<caption>
			<h3> 修改  </h3>
		</caption>
		编号<input type="text" name="id" />
		</br>
		</br>
		名称<input type="text" name="name" />
		</br>
		</br>
		<input type="submit" value="修改" />
	</form>

	</br>
	</br>
	</br>
	</br>
	</br>
	</br>

</div>
</body>
</html>